/* You can add global styles to this file, and also import other style files */
/* Material design*/
@import './templates/material/scss/material-dashboard.scss';
/*fontawesome*/
@import './assets/icon/font-awesome/css/font-awesome.css';
/* Imperial*/
@import './templates/imperial/hero.scss';
@import './styles/form';
@import './styles/profil';
@import './styles/modal';
@import './styles/table';

@media print {
  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .isPrinting > * { display: none; }
  .isPrinting app-print-layout { 
    display: block;
    -webkit-print-color-adjust: exact;
    width: 224mm;
    height: 314mm; 
    background: white;
  }

}

@page {
  size: A5;
  margin: 0;
  page-break-after: always;
  // background-color: white;
}

