<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title text-white">{{titre}}</h4>
        
        <button (click)="onShow(i-1)" [disabled]="i<1" type="button" class="close btn-primary text-light"><i class="fa fa-chevron-left"></i></button>
        <button class="close btn-primary text-light">{{i+1}}/{{nexter.length}}</button>
        <button (click)="onShow(i+1)"  [disabled]="i>nexter.length-2"  type="button" class=" close btn-primary text-light"><i  class="fa fa-chevron-right"></i></button>
        <button (click)="onClose()" type="button" class="close btn-danger" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body profil">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <span class="text-primary">Vendu le : </span>
                        <span>{{operation.created_at|date:'dd/MM/yyyy HH:mm'}} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6" *ngIf="magasinier">
                <div class="row">
                    <div class="col-md">
                        <span class="text-primary" *ngIf="operation.status===1">Sorti le : </span> <span *ngIf="operation.status===1"> {{operation.sortie_at|date:'dd/MM/yyyy HH:mm'}}</span>
                        <span class="text-primary" *ngIf="operation.status===0">Annulé le : </span> <span *ngIf="operation.status===0"> {{operation.sortie_at|date:'dd/MM/yyyy HH:mm'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <span class="text-primary" >Nom du client : </span> <span> {{operation.nomClient}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                        <span class="text-primary">Contact du client : </span> <span> {{operation.contactClient}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md">
                         <span class="text-primary">Nom du vendeur : </span><span> {{vendeur.nom}} {{vendeur.prenom}}</span>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" *ngIf="magasinier">
                    <div class="col-md">
                        <span class="text-primary">Nom du magasinier : </span> <span> {{magasinier.nom}} {{magasinier.prenom}}</span>
                    </div>
                </div>
            </div>
        </div>  


        <div class="row mb-3">
            <div class="col-md">
                <span class="text-primary">Porteurs </span> : <span> {{porteurs.join(', ')}} </span>
            </div>
            <div class="col-md-8">
                
            </div>
        </div>
        <table class="table">
            <thead class="text-warning">
                <th>#</th>
                <th>Produit</th>
                <th>Quantite</th>
            </thead>
            <tbody>
                <tr *ngFor="let prod of produitsArray; let i = index">
                    <td>
                        {{i+1}}
                    </td>

                    <td>
                        {{prod.categorie}} {{prod.nom}}
                    </td>
                    <td>
                        {{prod.quantite}}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-4">
                <span class="text-primary">Quantite Totale</span>
            </div>
            <div>
                <span class="col-md-8">
                    {{operation.quantiteTotale}}
                </span>
            </div>
        </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer" *ngIf="operation.status===2">
        <!-- <button type="reset" class="btn btn-danger" (click)="onDelete">Supprimer</button> -->
        <!-- <button type="submit" class="btn btn-primary" (click)="onPrint()">Imprimer</button> -->
    </div>
</div>