<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title text-white">{{titre}}</h4>
        <button (click)="onClose()" type="button" class="close btn-danger" data-dismiss="modal">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body profil">
        <table class="table">
            <thead class="text-warning">
                <th>#</th>
                <th>Date</th>
                <th>Quantite Entree</th>
                <th>Quantite Vendue</th>
                <th>Quantite Sortie</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of detailsArray; let i = index">
                    <td>
                        {{i+1}}
                    </td>
                    <td class="text-center">
                        {{item.date|date:'dd/MM/yyyy'}}
                    </td>
                    <td class="text center">
                        {{item.quantiteEntree}}
                    </td>
                    <td class="text-center">
                        {{item.quantiteVendue}}
                    </td>
                    <td class="text-center">
                        {{item.quantiteSortie}}
                    </td>
                </tr>
                <tr> 
                    <th colspan="2">
                        TOTAL
                    </th>
                    <th  class="text-center">{{operation.quantiteEntree}}</th>
                    <th  class="text-center">{{operation.quantiteVendue}}</th>
                    <th  class="text-center">{{operation.quantiteSortie}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>