<table class="table" *ngIf="(invData.data|searchInventaire:searchService.search).length!=0">
    <thead class="text-warning">
        <th>#</th>
        <th>motif</th>
        <th>Date</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of invData.data|searchInventaire:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.motif}}
            </td>

            <td>
                {{item.created_at}}
            </td>

           
        </tr>
    </tbody>
</table>
<div *ngIf="(invData.data|searchInventaire:searchService.search).length===0">
    <span class="text-danger">Aucun inventaire trouvé</span>
</div>

<div class="modal" id="myProfilModal">
    <div class="modal-dialog">
        <app-inventaire-profil></app-inventaire-profil>
    </div>
</div>