#num{
    width: 5%;
}
#prod{
    width: 60%;
}
#quant{
    width: 20%;
}

#boutton{
    width: 15%;
}



.search-box{
    margin-top: 3px;
    background: rgb(228, 225, 225);
    position: absolute;
    left: 8%;
    width: 55%;
    z-index: 2000;
    .row{
        cursor: grab;
        border-bottom: 1px white;
    }
    .row:hover{
        background-color: white;
        color: grey;
    }
}

.form-contro{
    font-size: 1em !important;
    width: 100%;
    border: none !important;
    background-color: rgb(228, 225, 225) !important;   
}

//
.select2-dropdown {top: 22px !important; left: 8px !important;}