<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs nav-justified" data-tabs="tabs">
                                <li class="nav-item" [routerLink]="['categories']">
                                    <a class="nav-link"  routerLinkActive="active"
                                        data-toggle="tab">
                                        <i class="material-icons"></i>Categories
                                        <span class="badge badge-pill badge-light text-left"
                                            >{{catData.data.length}}</span>
                                        <!-- <span class="badge badge-pill badge-light text-left"
                                            *ngIf="showArchive  && fonction==='admin' ">{{archives.length}}</span> -->
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item" [routerLink]="['produits/0']">
                                    <a class="nav-link"  routerLinkActive="active"
                                        data-toggle="tab">
                                        <i class="material-icons"></i>Produits
                                        <span class="badge badge-pill badge-light text-left"
                                            >{{produitData.data.length}}</span>
                                        <!-- <span class="badge badge-pill badge-light text-left"
                                                *ngIf="showArchive  && fonction==='admin' ">{{archives.length}}</span> -->
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</div>