<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Type</th>
            <th>Fait par</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of historiques; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.created_at|date:'dd-MM-yyyy'}}</td>
            <td>{{item.created_at|date:'HH:mm'}}</td>
            <td>
                <span *ngIf="item.codeOperation===0">Supression</span>
                <span *ngIf="item.codeOperation===1">Ajout</span>
                <span *ngIf="item.codeOperation===2">Modification</span>
                <span *ngIf="item.codeOperation===3">Renitialisation du mot de passe</span>
                <span *ngIf="item.codeOperation===4">Restauration</span>
                <span *ngIf="item.codeOperation===5">Validation</span>
                <span *ngIf="item.codeOperation===6">Annulation</span>
            </td>
            <td>{{item.nom}} {{item.prenom}}</td>
        </tr>
    </tbody>
</table>