<table class="table"
    *ngIf="(statData.data|searchEntity:searchService.search).length!=0">
    <thead class="text-warning">
        <th>#</th>
        <th>Nom</th>
        <th>Quantite Entree</th>
        <th>Quantite vendue</th>
        <th>Quantite Sortie</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of statData.data|searchEntity:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.categorie}} {{item.nom}}
            </td>
            <td class="text-center">
                {{item.quantiteEntree}}
            </td>
            <td class="text-center">
                {{item.quantiteVendue}}
            </td>
            <td class="text-center">
                {{item.quantiteSortie}}
            </td>
        </tr>
    </tbody>
    
</table>
<div *ngIf="(statData.data|searchEntity:searchService.search).length===0">
    <span class="text-danger">Aucune statistique</span>
</div>

<div class="modal" id="myProfilModal">
    <div class="modal-dialog modal-lg">
        <app-stat-profil></app-stat-profil>
    </div>
</div>