<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title text-white">Changer d'identifiant</h4>
        <button id="closeModal" type="button" class="close btn-danger" (click)="onClose()">&times;</button>
    </div>

    <!-- Modal body -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body form">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text label"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" class="form-control" formControlName="identifiant"
                    placeholder="Entrer votre Identifiant">

            </div>
            <div *ngIf="identifiant.invalid && (identifiant.dirty || identifiant.touched)" class="alert alert-danger">

                <div *ngIf="identifiant.errors.required">
                    l' identifiant est requis.
                </div>
                <div *ngIf="identifiant.errors.minlength">
                    l' identifiant doit être superieur à 4 characteres.
                </div>
                <div *ngIf="identifiant.errors.maxlength">
                    l' identifiant doit être inferieur à 30 characteres.
                </div>
            </div>


        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-danger">Effacer</button>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Valider</button>
        </div>
    </form>
</div>