<div class="text-center">
    <button *ngIf="!showArchive" type="button" rel="tooltip" title="voir les produits supprimés"
        class="btn btn-danger btn-sm" id="showModal" (click)="onShowTrash()">
        <i class="material-icons">delete</i>Voir les archives
    </button>

    <button *ngIf="showArchive" type="button" rel="tooltip" title="voir les produits" class="btn btn-success btn-sm"
        id="showModal" (click)="onBackToData()">
        <i class="material-icons">visibility</i>Voir les non-archivés
    </button>

    <button *ngIf="!showArchive" type="button" rel="tooltip" title="Ajouter" class="btn btn-primary btn-sm"
        id="showModal" (click)="onAdd()">
        <i class="material-icons">add</i>Faire un inventaire
    </button>

</div>
<table class="table" *ngIf="(invData.data|searchInventaire:searchService.search).length!=0 || (invData.dataMaison|searchInventaire:searchService.search).length!=0">
    <thead class="text-warning">
        <th>#</th>
        <th>motif</th>
        <th>Date</th>
        <th></th>
    </thead>
    <tbody *ngIf="showArchive===false && searchService.menu==='GM'">
        <tr *ngFor="let item of invData.data|searchInventaire:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.motif}}
            </td>

            <td>
                {{item.created_at}}
            </td>

            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                    class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">visibility</i>
                </button>
                <button type="button" rel="tooltip" title="Modifier" class="btn btn-primary btn-link btn-sm"
                    (click)="onEdit(item)">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" title="Supprimer" (click)="onDelete(item)"
                    class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="showArchive===true && searchService.menu==='GM' ">
        <tr *ngFor="let item of invData.archives|searchInventaire:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.motif}}
            </td>

            <td>
                {{item.created_at}}
            </td>

            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                    class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">visibility</i>
                </button>
                <button type="button" rel="tooltip" title="Restaurer" (click)="onRestore(item)"
                    class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">replay</i>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="showArchive===false && searchService.menu==='M'">
        <tr *ngFor="let item of invData.dataMaison|searchInventaire:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.motif}}
            </td>

            <td>
                {{item.created_at}}
            </td>

            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                    class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">visibility</i>
                </button>
                <button type="button" rel="tooltip" title="Modifier" class="btn btn-primary btn-link btn-sm"
                    (click)="onEdit(item)">
                    <i class="material-icons">edit</i>
                </button>
                <button type="button" rel="tooltip" title="Supprimer" (click)="onDelete(item)"
                    class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
    <tbody *ngIf="showArchive===true && searchService.menu==='M' ">
        <tr *ngFor="let item of invData.archiveMaisons|searchInventaire:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            <td>
                {{item.motif}}
            </td>

            <td>
                {{item.created_at}}
            </td>

            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                    class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">visibility</i>
                </button>
                <button type="button" rel="tooltip" title="Restaurer" (click)="onRestore(item)"
                    class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">replay</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="(invData.data|searchInventaire:searchService.search).length===0 && searchService.menu==='GM'">
    <span class="text-danger">Aucun inventaire trouvé</span>
</div>
<div *ngIf="(invData.dataMaison|searchInventaire:searchService.search).length===0 && searchService.menu==='M'">
    <span class="text-danger">Aucun inventaire trouvé</span>
</div>

<div class="modal " id="myModal">
    <div class="modal-dialog modal-lg">
        <app-inventaire-form></app-inventaire-form>
    </div>
</div>

<div class="modal" id="myProfilModal">
    <div class="modal-dialog modal-lg">
        <app-inventaire-profil></app-inventaire-profil>
    </div>
</div>