<table class="table" *ngIf="(entreeData.data|searchEntree:searchService.search).length!=0">
    <thead class="text-warning">
        <th>#</th>
        <th>N de Facture</th>
        <th>Quantite totale</th>
        <th>Statut</th>
        <th>Date</th>
    </thead>
    <tbody>
        <tr [ngClass]="{'table-row': true, 'table-row-success':item.status===1, 'table-row-danger':item.status===0, 'table-row-primary':item.status===2}"
            *ngFor="let item of entreeData.data|searchEntree:searchService.search; let i=index;">
            <td>
                {{i+1}}
            </td>
            
            <td>
                {{item.numero}}
            </td>
            <td>
                {{item.quantiteTotale}}
            </td>
            <td>
                <span *ngIf="item.status===2">En attente</span>
                <span *ngIf="item.status===0">Rejeté</span>
                <span *ngIf="item.status===1">Validé</span>
            </td>
            <td>
                {{item.created_at|date:'dd/MM/yyyy HH:mm'}}
            </td>
            <td class="td-actions text-right">
                <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                    class="btn btn-primary btn-link btn-sm">
                    <i class="material-icons">visibility</i>
                </button>
                <button *ngIf="item.status===2" type="button" rel="tooltip" title="Modifier"
                    class="btn btn-primary btn-link btn-sm" (click)="onEdit(item)">
                    <i class="material-icons">edit</i>
                </button>
                <button *ngIf="item.status===2" type="button" rel="tooltip" title="Supprimer"
                    (click)="onDelete(item)" class="btn btn-danger btn-link btn-sm">
                    <i class="material-icons">close</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="(entreeData.data|searchEntree:searchService.search).length===0">
    <span class="text-danger">Aucune entree trouvée</span>
</div>
