<div class="modal-content">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title text-white">Changer de mot de passe</h4>
        <button id="closeModal" type="button" class="close btn-danger" (click)="onClose()">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body form">
        <form [formGroup]="resetForm" (ngSubmit)="onValidate()">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text label"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="newPassword"
                    placeholder="Votre nouveau mot de passe">

            </div>
            <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)"
                class="alert alert-danger">

                <div *ngIf="f.newPassword.errors.required">
                    le mot de passe est requis.
                </div>
                <div *ngIf="f.newPassword.errors.minlength">
                    le mot de passe doit être superieur à 8 characteres.
                </div>
                <div *ngIf="f.newPassword.errors.maxlength">
                    le mot de passe doit être inferieur à 20 characteres.
                </div>
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text label"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" formControlName="verifPassword"
                    placeholder="Confirmer votre mot de passe">

            </div>
            <div *ngIf="f.verifPassword.errors && (f.verifPassword.dirty || f.verifPassword.touched)"
                class="alert alert-danger">

                <div *ngIf="f.verifPassword.errors.required">
                    ce champ est requis.
                </div>
                <div *ngIf="!f.verifPassword.errors.required">
                    le mot de passe ne correspond pas.
                </div>

            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-danger">Effacer</button>
        <button type="submit" class="btn btn-primary" [disabled]="!resetForm.valid">Valider</button>
    </div>
</div>