<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs nav-justified" data-tabs="tabs">
                                <li class="nav-item" [routerLink]="['todayentree']">
                                    <a class="nav-link" routerLinkActive="active" data-toggle="tab">
                                        En cours
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                               
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab">
                                        Rechercher dans l'interval

                                        <div class="ripple-container"></div>

                                    </a>
                                </li>
                                <li>
                                    <form class="form-inline">
                                        <div class="md-form my-0">
                                            <input class="form-control mr-sm-2" type="date" [(ngModel)]="jourDebut"
                                                [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <form class="form-inline">
                                        <div class="md-form my-0">
                                            <input class="form-control mr-sm-2" type="date" [(ngModel)]="jourFin"
                                                [ngModelOptions]="{standalone: true}">
                                        </div>
                                    </form>
                                </li>
                                <li>
                                    <button type="button" rel="tooltip" title="Rechercher"
                                        class="btn btn-primary btn-sm" id="showModal" [disabled]="!jourDebut || !jourFin"
                                        (click)="search()">
                                        Rechercher
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center">

                        <button type="button" rel="tooltip" title="Ajouter" class="btn btn-primary btn-sm"
                            id="showModal" (click)="onAdd()">
                            <i class="material-icons">add</i>Enregistrer une entrée
                        </button>

                    </div>
                <router-outlet></router-outlet>
                  
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="myProfilModal">
    <div class="modal-dialog modal-lg">
        <app-entree-profil></app-entree-profil>
    </div>
</div>
<div class="modal" id="myEditModal">
    <div class="modal-dialog modal-lg">
        <app-entree-form></app-entree-form>
    </div>
</div>