<div class="text-center">
    <button *ngIf="!showArchive" type="button" rel="tooltip" title="voir les {{fonction}}s supprimés"
        class="btn btn-danger btn-sm" id="showModal" (click)="onShowTrash()">
        <i class="material-icons">delete</i>Voir les archives
    </button>

    <button *ngIf="showArchive" type="button" rel="tooltip" title="voir les {{fonction}}s"
        class="btn btn-success btn-sm" id="showModal" (click)="onBackToData()">
        <i class="material-icons">visibility</i>Voir les non-archivés
    </button>

    <button *ngIf="!showArchive" type="button" rel="tooltip" title="Ajouter" class="btn btn-primary btn-sm"
        id="showModal" (click)="onAdd()">
        <i class="material-icons">add</i>Ajouter une catégorie
    </button>

</div>
<div class="row" *ngIf="!showArchive">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of catData.data|searchEntity:searchService.search">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon" (click)="onGoToProduits(item.id)">
                <div class="card-icon">
                    {{(produitData.data|byCategorie:item.id).length}}
                </div>
            </div>
            <div class="card-body" (click)="onGoToProduits(item.id)">
                <h3 class="card-title mt-3">
                    {{item.nom}}
                </h3>
            </div>
            <div class="card-footer">
                <div class="row ml0">
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                            class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">visibility</i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Modifier" class="btn btn-primary btn-link btn-sm"
                            (click)="onEdit(item)">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Supprimer" (click)="onDelete(item)"
                            class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="showArchive">
    <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let item of catData.archives">
        <div class="card card-stats">
            <div class="card-header card-header-primary card-header-icon" (click)="onGoToProduits(item.id)">
                <div class="card-icon">
                    {{(produitData.data|byCategorie:item.id).length}}
                </div>
            </div>
            <div class="card-body" (click)="onGoToProduits(item.id)">
                <h3 class="card-title mt-3">
                    {{item.nom}}
                </h3>
            </div>
            <div class="card-footer">
                <div class="row ml0">
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Voir en details" (click)="onShow(item)"
                            class="btn btn-primary btn-link btn-sm">
                            <i class="material-icons">visibility</i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Modifier" class="btn btn-primary btn-link btn-sm"
                            (click)="onEdit(item)">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" rel="tooltip" title="Supprimer" (click)="onDelete(item)"
                            class="btn btn-danger btn-link btn-sm">
                            <i class="material-icons">close</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="( catData.data|searchEntity:searchService.search).length===0">
    <span class="text-danger">Aucune categorie trouvée</span>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <app-cat-form></app-cat-form>
    </div>
</div>

<div class="modal" id="myProfilModal">
    <div class="modal-dialog">
        <app-cat-profil></app-cat-profil>
    </div>
</div>