<div class="profil-infos">
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Nom</span>
        </div>
        <div class="value">
            <span>{{user.nom| uppercase}}</span>
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Prenom</span>
        </div>
        <div class="value">
            <span>{{user.prenom}}</span>
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Contact</span>
        </div>
        <div class="value">
            <span>{{user.contact}}</span>
        </div>
    </div>
    <div class="input-group form-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Identifiant</span>
        </div>
        <div class="value">
            <span>{{user.identifiant}}</span>
        </div>
    </div>
</div>